<header class="site-header">
  <h1><a href="/" style="color: inherit; text-decoration: none;">Julius Broomfield</a></h1>
  <div class="email">{{ .Site.Params.email }}</div>
  <div class="site-links">
    <a href="{{ .Site.Params.linkedin }}" target="_blank">LinkedIn</a>
    <span class="sep">/</span>
    <a href="{{ .Site.Params.github }}" target="_blank">GitHub</a>
    <span class="sep">/</span>
    <a href="{{ .Site.Params.googlescholar }}" target="_blank">Google Scholar</a>
    <span class="sep">/</span>
    <a href="{{ .Site.Params.cv }}" target="_blank">Resume</a>
  </div>
</header>
